@font-face {
    font-family: "godo";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "godo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/godo/godo-Bold.ttf") format("truetype");
    font-display: swap;
}
.godo {
    font-family: "godo";
}
.godo500 {
    font-family: "godo";
    font-weight: 500;
}
.godo700 {
    font-family: "godo";
    font-weight: 700;
}